* {
	margin: 0px;
	padding: 0px;
}
h1 {
	color: red;
	text-align: center;
	margin-bottom: -5px;
}
body {
	background-color: black;
}
div.param_val {
	float: left;
}
table tr, td {
	border: 3px ridge #735b5b;
}
td {
	text-align: center;
	color: #d2e629;
	background-color: black;
}
p {
	color: white;
}